<ion-header>
  <ion-toolbar>
    <ion-title class="baslik">Detay</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="boyut">
    <ion-card-content>
      <ion-item>
        <span class="sp1">KAMYONET</span>
        <span class="sp2">KOMPLE YÜK</span>
        <span class="sp3">BUGÜN</span>
      </ion-item>
      <ion-item>
        <ion-icon name="location"></ion-icon>
        <ion-label>Çıkış - ANKARA/OSTİM</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon style="transform: rotate(90deg);"name="remove-outline"></ion-icon>
        <h5>
          Yıldırım Bayezid Mah. Atatürk Cad.<br>
          No:4 Çankaya/Ankara
        </h5>
      </ion-item>

      <ion-item>
        <ion-icon style="transform: rotate(90deg);"name="remove-outline"></ion-icon>
        <span class="kutu1">538km</span>
        <span class="kutu2">22 Ton</span>
        <span class="kutu3">5 Teklif</span>
       <span class="kutu4">Taşıma Bedeli 20Bin ₺</span>
      </ion-item>
      <ion-item>
        <ion-icon style="transform: rotate(90deg);"name="remove-outline"></ion-icon>
        <span class="yazi2">İhale No:345555 </span>
      </ion-item>
      <ion-item>
        <ion-icon name="ellipse-outline"></ion-icon>
          <span class="adres1">VARIŞ-İZMİR/ALİAĞA</span>
      </ion-item>
      <h5 style="margin-left: 72px;">
        Yıldırım Bayezid Mah. Atatürk Cad.<br>
        No:4 Çankaya/Ankara
      </h5>
      <h5 class="ozel">
        Araç Tipi: TEN TELİ TIR<br>
        Kasa Özellikleri:Tahta Taban, Yandan Yükleme<br>
        Yükleme Özellikleri:Tahta Taban<br>
        ÖDEME ŞEKLİ:Yükleme Nakit
      </h5>
      <h5 style="margin-left: 68px; margin-top: 10px;">
        AÇIKLAMA:Yıldırım Beyazıt Mah. <br>
        Karşı Sok. No:7 ANKARA
      </h5>


      <h2 class="ozel1">
        Bu teklifi verebilmeniz için<br>
        ilan araç türüne sahip olmanız<br>
        gerekmektedir.
      </h2>
 <ion-button size="full" color="success" class="buton">Teklif Var</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>