<ion-header>
  <ion-toolbar>
    <ion-title class="baslik">Giriş</ion-title>
  </ion-toolbar>
</ion-header>

<div style="width: 150px; height: 150px; margin-left: 130px;"> 
  <ion-img src="assets/icon/gondergitsin.png">  </ion-img>
  </div>
  


<ion-content>

<ion-item class="kenar bosluk">
  <span item-right><ion-icon name="mail-outline"></ion-icon></span>
  <ion-input  style="margin-left:10px ;"  placeholder="E-posta"></ion-input>
</ion-item>

<ion-item class="kenar bosluk">
  <span item-right><ion-icon name="key-outline"></ion-icon></span>
  <ion-input style="margin-left:10px ;" placeholder="Şifre"></ion-input>
</ion-item>

<h6 class="sag">Şifreni mi unuttun ?</h6>


<ion-button  class="section" expand="full" size="large" color="primary">Giriş yap</ion-button>
<ion-button class="section bosluk"  expand="full" size="large" color="light">Üye ol</ion-button>


<ion-item class="bosluk" >
  <ion-icon  class="sol" name="call-outline"></ion-icon>
  <h4 class="sol color">  0850 222 55 88</h4>
</ion-item>



</ion-content>
