.section {
    margin-left : 2.5em;
    margin-right: 2.5em;

   
  }

.baslik{
    text-align: center;
    background-color: dodgerblue;
    color: white;

}

.resim{
    width: 100px;
    height: 100px;
}


.kenar{
    border: solid;
    border-color:lightgrey;
    margin-left : 3em;
    margin-right: 3em;
}

.bosluk{
    margin-top: 15px;
}

.sag{
    text-align: right;
}


.ortala
{

    text-align: center;
}


.sol{
    margin-left: 30px;
    color:blue;
    
}