.baslik{
    text-align: center;
    background-color: dodgerblue;
    color:white;
}
.yazi1{
    font-size: 25px;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

.sp1{
    font-size: 15px;
}
.sp2{
    font-size: 15px;
}
.sp3{
    font-size: 15px;
}
.sp4{
    font-size: 15px;
}
.sp5{
    font-size: 15px;
}


.buton1{
    font-size: 20px;
    border-radius: 5px;
    width: 100px;
    height: 35px;
    margin-left: 108px;
    background-color: orange;
    color: white;
    padding: 5px;
    text-align: center;
}
.buton2{
    font-size: 20px;
    border-radius: 5px;
    width: 100px;
    height: 35px;
    margin-left: 105px;
    background-color: orange;
    color: white;
    text-align: center;
}
.buton3{
    font-size: 20px;
    border-radius: 5px;
    width: 100px;
    height: 35px;
    margin-left: 130px;
    background-color: orange;
    color: white;
}
.buton4{
    font-size: 20px;
    border-radius: 5px;
    width: 100px;
    height: 35px;
    margin-left: 115px;
    background-color: orange;
    color: white;
}
.buton5{
    font-size: 20px;
    border-radius: 5px;
    width: 100px;
    height: 35px;
    margin-left: 110px;
    background-color: orange;
    color: white;
}