<ion-header>
  <ion-toolbar>
    <ion-title class="baslik">GönderiVer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div style="width: 100px; height: 100px; margin-left: 145px; margin-right: 100px; ">
    <ion-img src= "assets/icon/kamyon.png"></ion-img>
  </div>
  <span class="yazi1">Yük türünü seçiniz</span>
  <div style= "margin-left:185px;"> 
    <span item-right><ion-icon name="arrow-down-outline"></ion-icon></span>
  </div>
  <ion-card >
    <ion-card-content>
      <ion-item>
        <span class="sp1">KONTEYNER</span>
        <ion-button class="buton1" color="orange">15 Adet</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
  <ion-card-content>
    <ion-item>
      <span class="sp2">KOMPLE YÜK</span>
      <ion-button class="buton2" color="orange">3 Adet</ion-button>
    </ion-item>
  </ion-card-content>
</ion-card>
  
<ion-card>
  <ion-card-content>
    <ion-item>
      <span class="sp3">PARSİYEL</span>
      <ion-button class="buton3" color="orange">5 Adet</ion-button>
    </ion-item>
  </ion-card-content>
</ion-card>
  
<ion-card >
  <ion-card-content>
    <ion-item>
      <span class="sp4">EVDEN EVE</span>
      <ion-button class="buton4" color="orange">15 Adet</ion-button>
    </ion-item>
  </ion-card-content>
</ion-card>

<ion-card >
  <ion-card-content>
    <ion-item>
      <span class="sp5">PARÇA EŞYA</span>
      <ion-button class="buton5" color="orange">18 Adet</ion-button>
    </ion-item>
  </ion-card-content>
</ion-card>

</ion-content>
