<ion-header>
  <ion-toolbar>
    <ion-title class="baslik">Tekliflerim</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <span class="sp1">KAMYONET</span>
        <span class="sp2">KOMPLE YÜK</span>
        <span class="sp3">BUGÜN</span>
      </ion-item>
      <ion-item>
      <ion-icon name="location"></ion-icon>
      <ion-label>Çıkış - ANKARA/OSTİM</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      <span class="kutu1">538km</span>
      <span class="kutu2">22 Ton</span>
      <span class="kutu3">5 Teklif</span>
     <span class="kutu4">En düşük teklif 18.5 ₺</span>
    </ion-item>
    <ion-item>
      <ion-icon name="ellipse-outline"></ion-icon>
      <h4 class="yazi1"> Varış - İZMİR / ALİAĞA </h4>
      <h6 class="yazi2">İhale No:3455 </h6> 
    </ion-item>
    <ion-item>
      <span class="teklif">Teklifiniz 18.500 TL</span>
      <span class="b">Bekliyor</span>
    </ion-item>
    </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
    <ion-item>
      <span class="kare1">TIR</span>
      <span class="kare2">PARSİYEL</span>
      <span class="kare3">YARIN</span>
    </ion-item>
   <ion-item>
    <ion-icon name="location"></ion-icon>
    <span>Çıkış-ANKARA/OSTİM </span>
   </ion-item>
   <ion-item>
    <ion-icon name="ellipsis-vertical-outline"></ion-icon>
    <span class="kutu1">538km</span>
    <span class="kutu2">22 Ton</span>
    <span class="kutu3">5 Teklif</span>
    <span class="kutu4"> En düşük teklif 18.5 ₺</span>
  </ion-item>
  <ion-item>
    <ion-icon name="radio-button-off-outline"></ion-icon>
    <span class="yazi1">Varış-İZMİR/ALİAĞA </span>
    <span class="yazi2">İhale No:345555 </span>
  </ion-item>
  <ion-item>
    <span class="teklif">Teklifiniz 18.500 TL</span>
    <span class="bekle">Kabul Etti</span>
  </ion-item>
      </ion-card-content>
      </ion-card>
    </ion-content>