
.baslik{
    text-align: center;
    background-color: dodgerblue;
    color: white;

}

.section {
    margin-left : 2.5em;
    margin-right: 2.5em;
      
  }

.bosluk{
    margin-top: 15px;
}

.sol{
    margin-left: 30px;
    color:blue;
    
}

.kenar{
    border: solid;
    border-color:lightgrey;
    margin-left : 3em;
    margin-right: 3em;
}

.bir{

    margin-left : 3.2em;
    width: 153px;
   
}

.kur{

    margin-right: 3.2em;
    width: 153px;
}

.k{
margin-left: 15px;

}