<ion-header>
  <ion-toolbar>
    <ion-title class="baslik">Üyelik</ion-title>
  </ion-toolbar>
</ion-header>

<div style="width: 150px; height: 150px; margin-left: 130px;"> 
  <ion-img src="assets/icon/gondergitsin.png">  </ion-img>
  </div>

<ion-content>
  
        <ion-button class="bir bosluk" size="medium">Bireysel</ion-button>
        <ion-button  class="kur bosluk"   size="medium" color="light">Kurumsal</ion-button>

       

  <ion-item class="kenar bosluk">
    <span item-right><ion-icon name="calendar-outline"></ion-icon></span>
    <ion-input class="k" placeholder="Firma Adı"></ion-input>
  </ion-item>


  <ion-item class="kenar bosluk">
    <span item-right><ion-icon name="calendar-outline"></ion-icon></span>
    <ion-input class="k" placeholder="Kullanıcı Adı Soydı"></ion-input>
  </ion-item>


  <ion-item class="kenar bosluk">
    <span item-right><ion-icon name="calendar-outline"></ion-icon></span>
    <ion-input class="k" placeholder="Mail Adresi"></ion-input>
  </ion-item>
  
  <ion-item class="kenar bosluk">
    <span item-right><ion-icon name="calendar-outline"></ion-icon></span>
    <ion-input class="k" placeholder="Telefon Numarası"></ion-input>
  </ion-item>

  
  <ion-item class="kenar bosluk">
    <span item-right><ion-icon name="calendar-outline"></ion-icon></span>
    <ion-input class="k" placeholder="Şifre"></ion-input>
  </ion-item>



<ion-button class="section bosluk"  expand="full" size="large" color="primary">Üye ol</ion-button> 
<ion-button class="section bosluk"   expand="full" size="large"  color="light" >Giriş yap</ion-button>



<ion-item class="bosluk" >
  <ion-icon class="sol" name="call-outline"></ion-icon>
  <h4 class="sol color">  0850 222 55 88</h4>
</ion-item>

</ion-content>
