<ion-header>
  <ion-toolbar>
    <ion-title class="baslik">Tekliflerim</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <span class="sp1">KAMYONET</span>
        <span class="sp2">KOMPLE YÜK</span>
        <span class="sp3">BUGÜN</span>
      </ion-item>
      <ion-item>
      <ion-icon name="location"></ion-icon>
      <ion-label>Çıkış - ANKARA/OSTİM</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      <span class="kutu1">538km</span>
      <span class="kutu2">22 Ton</span>
      <span class="kutu3">5 Teklif</span>
     <span class="kutu4">Taşıma bedeli 20k ₺</span>
    </ion-item>
    <ion-item>
      <ion-icon name="ellipse-outline"></ion-icon>
      <h4 class="yazi1"> Varış - İZMİR / ALİAĞA </h4>
      <h6 class="yazi2">İhale No:3455 </h6> 
    </ion-item>   
    </ion-card-content>
    </ion-card>


    <ion-card>
      <ion-card-content>
        <ion-item>
          <span class="sp1">KAMYONET</span>
          <span class="sp2">KOMPLE YÜK</span>
          <span class="sp3">BUGÜN</span>
        </ion-item>
        <ion-item>
        <ion-icon name="location"></ion-icon>
        <ion-label>Çıkış - ANKARA/OSTİM</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
        <span class="kutu1">538km</span>
        <span class="kutu2">22 Ton</span>
        <span class="kutu3">5 Teklif</span>
       <span class="kutu4">Taşıma bedeli 20k ₺</span>
      </ion-item>
      <ion-item>
        <ion-icon name="ellipse-outline"></ion-icon>
        <h4 class="yazi1"> Varış - İZMİR / ALİAĞA </h4>
        <h6 class="yazi2">İhale No:3455 </h6> 
      </ion-item> 
      </ion-card-content>
      </ion-card>




    </ion-content>
