<ion-header>
  <ion-toolbar>
    <ion-title class="baslik">Üyelik</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="logo">
    <ion-img src= "assets/icon/gondergitsin.png"></ion-img>
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="telkod">Lütfen Telefonunuza Gelen</ion-card-title>
      <ion-card-title class="telkod">Doğrulama Kodunu Giriniz.</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-item class="kenar">
    <span item-right><ion-icon name="calendar-outline"></ion-icon></span>
    <ion-input style="padding-left: 15px;margin-left: 15px;"  placeholder="4 Haneli Güvenlik Kodu"></ion-input>
  </ion-item>

  <ion-button expand="full" class="buton buton2">Gönder</ion-button>

  <ion-item class="bosluk sol" >
    <ion-icon name="call-outline"></ion-icon>
    <h4  style="padding-left: 25px;font-size: 30px;">  0850 222 55 88</h4>
  </ion-item>

  
  
</ion-content>
