.baslik{
    text-align: center;
    background-color: dodgerblue;
    color: white;
}
.logo{
    width: 150px;
    margin-left: 130px;
    margin-top: 25px;
}
.telkod{
    font-size: 22px;
    text-align: center;
    font-weight: 100;
}
.kenar{
    border: solid;
    border-color:lightgrey;
    margin-top: 40px;
    width: 320px;
    margin-left: 39px;
}
.buton{
    margin-top: 30px;
}
.buton2{
    width: 355px;
    padding-left: 36px;

}
.bosluk{
    margin-top: 15px;
}
.renk{
    color: gainsboro;
}


.sol{
    margin-left: 30px;
    color: blue;
}