.baslik{
    text-align: center;
    background-color: dodgerblue;
    color: white;
}

.logo{
    width: 150px;
    margin-left: 130px;
    margin-top: 25px;
}

.giris{
    border: solid;
    border-color: gray;
    margin-top: 45px;
}

.kenar{
    border: solid;
    border-color:lightgrey;
    margin-top: 40px;
    width: 330px;
    margin-left: 37px;
}

.buton{
    margin-top: 90px;
}

.bosluk{
    margin-top: 15px;
}

.buton2{
    width: 365px;
    padding-left: 35px;
}


.sol{
    margin-left: 30px;
    color: blue;
}