<ion-header>
  <ion-toolbar>
    <ion-title class="baslik">Giriş</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="logo">
    <ion-img src= "assets/icon/gondergitsin.png"></ion-img>
  </div>
  <ion-item class="kenar">
    <span item-right><ion-icon name="mail-outline"></ion-icon></span>
    <ion-input  placeholder="E-posta" style="margin-left: 15px;"></ion-input>
  </ion-item>

  <ion-button expand="full" class="buton buton2">Gönder</ion-button>

  <ion-button expand="full"  color="light" style="margin-top: 10px;" class="buton2">Giriş Yap</ion-button>

  <ion-item class="bosluk sol" >
    <ion-icon name="call-outline"></ion-icon>
    <h4 style="padding-left: 25px;font-size: 30px;">  0850 222 55 88</h4>
  </ion-item>

</ion-content>