<ion-header>
  <ion-toolbar>
    <ion-title class="baslik">İhale No: 345555</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <span class="yazi1">Yük Veren</span><br>
  <span class="yazi2">ENKA YAPI A.Ş.</span><br>
  <span class="yazi3">Yetkili: Fatih Yılmaz</span><br>
  
  <button ion-button icon-start class="telbut">
    <ion-icon name="call-outline"></ion-icon>
    05445456654
  </button>



<ion-content>
  <ion-card class="boyut">
    <ion-card-content>
      <ion-item>
        <span class="sp1">KAMYONET</span>
        <span class="sp2">KOMPLE YÜK</span>
        <span class="sp3">12 NİSAN 2020</span>
      </ion-item>
      <ion-item>
        <ion-icon name="location"></ion-icon>
        <ion-label>Çıkış - ANKARA/OSTİM</ion-label>
        <ion-button color="dark">Haritada Gör</ion-button>
      </ion-item>
      <ion-item>
        <ion-icon style="transform: rotate(90deg);"name="remove-outline"></ion-icon>
        <h6 class="yazi4">
          Yıldırım Bayezid Mah. Atatürk Cad. 
          <br>No:4 Çankaya/Ankara 
          <br><b>Gönderen Ekna Yapı A.Ş.  </b>
          <br>DEPO-Aladdin ÖMah. Hasan Bey Sok.
          <br>No:3
          <br>Yetkili: Ahmet Demir
        </h6>
      </ion-item>
      <ion-button class="sekil buton2" color="dark">0544 677 89 89</ion-button>
      <ion-item>
        <ion-icon style="transform: rotate(90deg);"name="remove-outline"></ion-icon>
        <span class="kutu1">538km</span>
        <span class="kutu2">22 Ton</span>
        <span class="kutu3">5 Teklif</span>
       <span class="kutu4">Taşıma Bedeli 20Bin ₺</span>
      </ion-item>
      <ion-item>
        <ion-icon style="transform: rotate(90deg);"name="remove-outline"></ion-icon>
       <h2 class="yazi4"><b>VARIŞ Deneme Yapı A.Ş.</b><br>Yıldırım Mah. Hasan bey sok. <br>No:3  <h3><br><b>Yetkili:Mehmet Demir </b></h3> </h2>
        </ion-item>
        <ion-button color="dark" class="sekil buton2" expand="block">0544 677 89 89</ion-button>
        <ion-item>
          <ion-icon name="ellipse-outline"></ion-icon>
            <span class="adres1">VARIŞ-İZMİR/ALİAĞA</span>
            <ion-button color="dark" class="buton">Haritada Gör</ion-button>
        </ion-item>
        <h6 class="adres2"><b>Yıldırım Beyazı Mh. Atatürk Cd.</b></h6>
        <h5 class="adres2"><b>No:4 Çankaya/Ankara </b></h5>
       <h5 class="aciklama">Açıklama:Lütfen ürünlere dikkat edelim.Kırılacak eşyalar var</h5>
        <ion-item>
          <span class="destek">GÖNDERİVER DESTEK</span>
        </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>